 <!-- ***** Preloader Start ***** -->
 <!-- <div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div> -->
<!-- ***** Preloader End ***** -->

<!-- ***** Pre-Header Area Start ***** -->
 <div class="pre-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-9">
        <div class="left-info">
          <ul>
            <li><a href="#"><i class="fa fa-phone"></i>+216 54 234 568</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>techcaresolutions.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i>Rue Boulevard, Sfax, Tunisie </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3">
        <div class="social-icons">
          <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Pre-Header Area End ***** -->

<!-- ***** Header Area Start ***** -->

<!-- ***** Header Area End ***** -->

<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="caption header-text">
          <h6>TechCare Solutions</h6>
          <div class="line-dec"></div>
          <h4>Dive <em>Into The World</em> Of Technologies <br><span>With TechCare</span><br><span> Solutions</span></h4>
          <p>TechCare Solutions est une entreprise spécialisée dans la maintenance et la réparation de matériel informatique. Nous offrons des solutions rapides et fiables pour les particuliers et les professionnels, avec un service personnalisé et des techniciens expérimentés.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2>Nous proposons des <em>solutions sur mesure</em> et des
                <span>services complets</span> pour votre parc informatique</h2>
                <div class="line-dec"></div> <p>Expert en maintenance et réparation depuis 10ans, notre équipe intervient pour garantir la performance et la longévité de vos équipements informatiques.</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/services-01.jpg" alt="Dépannage informatique" class="templatemo-feature">
              </div>
              <h4>Dépannage Informatique Rapide</h4>
              <p>Intervention sur site ou à distance pour résoudre vos problèmes matériels et logiciels.</p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/services-02.jpg" alt="Maintenance préventive" class="templatemo-feature">
              </div>
              <h4>Maintenance Préventive</h4>
              <p>Contrats d'entretien régulier pour éviter les pannes et prolonger la durée de vie de vos équipements.</p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/services-03.jpg" alt="Récupération de données" class="templatemo-feature">
              </div>
              <h4>Récupération de Données</h4>
              <p>Sauvegarde et restauration de vos données critiques après incident technique.</p>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6">
            <div class="service-item">
              <div class="icon">
                <img src="assets/images/services-04.jpg" alt="Réseaux et sécurité" class="templatemo-feature">
              </div>
              <h4>Réseaux & Sécurité IT</h4>
              <p>Installation, configuration et sécurisation de vos infrastructures réseau.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="projects section" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Découvrez nos <em>interventions</em> &amp; <span>catégories</span></h2>
          <div class="line-dec"></div>
          <p>Nous intervenons sur tous types de matériels informatiques avec des techniciens certifiés.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-features owl-carousel">
          <div class="item">
            <img src="assets/images/pc-fixe.jpg" alt="Maintenance PC fixes">
            <div class="down-content">
              <h4>Ordinateurs fixes</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Maintenance PC fixes' }" class="btn-full">Demander un devis</a>
          </div>

          <div class="item">
            <img src="assets/images/pc-portable.jpg" alt="Réparation portables">
            <div class="down-content">
              <h4>Ordinateurs portables</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Réparation portables' }" class="btn-full">Demander un devis</a>
          </div>

          <div class="item">
            <img src="assets/images/serveurs.jpg" alt="Maintenance serveurs">
            <div class="down-content">
              <h4>Serveurs & NAS</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Maintenance serveurs' }" class="btn-full">Demander un devis</a>
          </div>

          <div class="item">
            <img src="assets/images/peripheriques.jpg" alt="Réparation périphériques">
            <div class="down-content">
              <h4>Périphériques</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Réparation périphériques' }" class="btn-full">Demander un devis</a>
          </div>

          <div class="item">
            <img src="assets/images/reseau.jpg" alt="Installation réseau">
            <div class="down-content">
              <h4>Équipements réseau</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Installation réseau' }" class="btn-full">Demander un devis</a>
          </div>

          <div class="item">
            <img src="assets/images/imprimantes.jpg" alt="Maintenance imprimantes">
            <div class="down-content">
              <h4>Imprimantes</h4>
            </div>
            <a [routerLink]="['/client/contact']" [queryParams]="{ service: 'Maintenance imprimantes' }" class="btn-full">Demander un devis</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




<!-- <div class="contact-us section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-us-content">
          <div class="row">
            <div class="col-lg-4">
              <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12469.776493332698!2d-80.14036379941481!3d25.907788681148624!2m3!1f357.26927939317244!2f20.870722720054623!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2sth!4v1642869952544!5m2!1sen!2sth" width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="col-lg-8">
              <form id="contact-form" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section-heading">
                      <h2><em>Contact Us</em> &amp; Get In <span>Touch</span></h2>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="surname" name="surname" id="surname" placeholder="Your Surname..." autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="subject" name="subject" id="subject" placeholder="Subject..." autocomplete="on" >
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" id="message" placeholder="Your Message"></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                    </fieldset>
                  </div>
                </div>
              </form>
              <div class="more-info">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="info-item">
                      <i class="fa fa-phone"></i>
                      <h4><a href="#">010-020-0340</a></h4>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-item">
                      <i class="fa fa-envelope"></i>
                      <h4><a href="#">info.com</a></h4>
                      <h4><a href="#">hello.com</a></h4>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="info-item">
                      <i class="fa fa-map-marker"></i>
                      <h4><a href="#">Sunny Isles Beach, FL 33160, United States</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
